.user-sidebar {
	background-color: #222d32;
}

/* .table {
	margin: 0 auto;
	width: 100%;
	clear: both;
	border-collapse: collapse;
	table-layout: fixed; // ***********add this
	word-wrap: break-word; // ***********and this
} */
