body {
	background-color: #e5f4fe;
	overflow-x: hidden;
}

.paralax {
	background-image: url("../img/bg.png");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

.side-login {
	background: rgb(1, 162, 252);
	background: linear-gradient(
		0deg,
		rgba(1, 162, 252, 1) 0%,
		rgba(0, 35, 117, 1) 100%
	);
}

.rocket-login {
	margin-left: -15px;
	margin-top: -110px;
}

.cloud1 {
	float: right;
	width: 1000px;
	margin-top: -500px;
	margin-right: -50px;
}

.cloud2 {
	float: right;
	width: 1200px;
	margin-top: 120px;
	margin-right: -50px;
}

.logo-login {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
}

.inputan {
	border-radius: 35px;
}
.inputan1 {
	border-radius: 20px;
}

.btn-login {
	background: rgb(255, 77, 77);
	background: linear-gradient(
		75deg,
		rgba(255, 77, 77, 1) 0%,
		rgba(255, 0, 7, 1) 100%
	);
	border: none;
	outline: none !important;
	width: 100px;
	line-height: 35px;
	font-size: 14pt;
	color: #fff;
	font-weight: bold;
	border-radius: 20px;
}

.btn-login:hover {
	background: rgb(255, 0, 7);
	background: linear-gradient(
		75deg,
		rgba(255, 0, 7, 1) 0%,
		rgba(255, 77, 77, 1) 100%
	);
}

.btn-tanya {
	background: rgb(255, 77, 77);
	background: linear-gradient(
		75deg,
		rgba(255, 77, 77, 1) 0%,
		rgba(255, 0, 7, 1) 100%
	);
	border: none;
	outline: none !important;
	width: 200px;
	line-height: 35px;
	font-size: 14pt;
	color: #fff;
	font-weight: bold;
	border-radius: 20px;
}

.btn-tanya:hover {
	background: rgb(255, 0, 7);
	background: linear-gradient(
		75deg,
		rgba(255, 0, 7, 1) 0%,
		rgba(255, 77, 77, 1) 100%
	);
}

.saran {
	margin-top: 220px;
}

@media only screen and (max-width: 700px) {
	.rocket-login {
		display: none;
	}

	.saran {
		margin-top: 0px;
	}
}

@media only screen and (max-width: 1000px) {
	.saran {
		margin-top: 0px;
	}
}
